.App {
    height: 100%;
}

html,body, #root {
    height:100%;
}
html, body {
    margin:0;
}
body {
    background-image: linear-gradient($syncopate-dark-blue, $syncopate-blue);
}

* {
    font-family: $header-font-family;
}
h1 {
    font-size: $header-font-size;
    color: $syncopate-green;
}