.SongDisplay {
    text-align: center;
    background-image: url('../images/background.png');
    height:100vh;
    padding-top: 10%;
}

#albumArt {
    border-radius: 0;
    height:15vw;
    width:15vw;
    min-width:10rem;
    min-height:10rem;
}

p {
    color:white;
}