.SongDisplay {
    text-align: center;
    background-image: url('../images/background.png');
    height:100vh;
    padding-top: 10%;
}

#albumArt {
    border-radius: 0;
    @include breakpoint(desktop) {
		height: 500px;
        width: 500px;
	}
    @include breakpoint(laptop) {
		height: 400px;
        width: 400px;
	}
    @include breakpoint(tablet) {
		height: 300px;
        width: 300px;
	}
    @include breakpoint(mobile) {
		height: 200px;
        width: 200px;
	}
    min-width:10rem;
    min-height:10rem;
    transition: all .3s;
}

#artist, #songName {
    color:white;
    font-size: 1.5rem;
}