.SongDisplay {
    display:inline;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top:30%;
    margin-left: auto;
    margin-right: auto;

}

#albumArt {
    border-radius: 0;
    height:15vw;
    width:15vw;
    min-width:10rem;
    min-height:10rem;
}

p {
    color:black;
}