.UserBar {
    height:100vh;
    background: $blue-to-dark-blue;
    text-align: center;

    &__title {
        margin: 0;
        font-size:1rem;
        color:white;
    }
}

hr {
    height: 1px;
    background-color:$syncopate-yellow;
    border:none;
    opacity: 50%;
}