.UserBar {
    width:4%;
    min-width: 4rem;
    height:100%;
    background-color: $syncopate-blue;
    text-align: center;
    display:inline-block;

    &__title {
        margin: 0;
        font-size:1rem;
        color:white;
    }
}

hr {
    height: 1px;
    background-color:$syncopate-yellow;
    border:none;
    opacity: 50%;
}