.UserBar {
    width:4em;
    height:100%;
    background-color: $syncopate-blue;
    text-align: center;
    display:inline-block;

}

hr {
    height: 1px;
    background-color:$syncopate-yellow;
    border:none;
    opacity: 50%;
}
h3 {
    margin: 0;
}
