#username {
    color:darken($syncopate-yellow, 10%);
    margin-top: 0;
    font-size:.9rem;
}
#profPic {
    border-radius: 50%;
    height: 5%;
    width: 50px;
    min-height: 30px;
}
.User {
    display:inline;
}