/*
 * COLORS
 */
 $syncopate-dark-blue: #040d1e;
 $syncopate-blue: #091d42;
 $syncopate-yellow: #d2e603;
 $syncopate-green: #03e6bd;
 
 /*
  * FONTS
  */
 $header-font-size: 2em;
 $header-font-family: 'Roboto Mono', monospace;

#username {
    color:darken($syncopate-yellow, 10%);
    margin-top: 0;
    font-size:.9rem;
}
#profPic {
    border-radius: 50%;
    height: 5%;
    width: 80%;
    min-height: 30px;
}
.User {
    display:inline;
}