@import "~bootstrap/scss/bootstrap.scss";

@import "variables";
@import "fonts";

@import "components/app";
@import "components/controls";
@import "components/landing";
@import "components/logo";
@import "components/navbar";
@import "components/searchbar";
@import "components/songdisplay";
@import "components/user";
@import "components/userbar";

html,body, #root {
    height:100%;
}
html, body {
    margin:0;
}
body {
    background-image: linear-gradient($syncopate-dark-blue, $syncopate-blue);
}

* {
    font-family: $header-font-family;
}
h1 {
    font-size: $header-font-size;
    color: $syncopate-green;
}